html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #000;
  font-family: "PT Sans Narrow", sans-serif;
}

/*----------------------Global-Classes----------------------*/
a {
  text-decoration: none;
  color: #3f4954;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #3f4954;
}

ul {
  list-style-type: none;
}

/*-----------x----------Global-Classes----------x-----------*/

/*-------------------------Navbar--------------------------*/

.nav {
  background: black;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
  z-index: 9;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
  z-index: 9;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  /*---------hamburger_icon----------*/
  margin-top: -13px;
  font-size: 1.8rem;
  color: white;
  z-index: 1;
}

.nav .toggle-collapse .toggle-icons i:hover {
  color: crimson;
  z-index: 9;
}

.collapse {
  /*-------------increase_height_of_menu-----------*/
  height: 48rem;
  z-index: 9;
}

.nav .nav-items {
  display: flex;
  margin: 0;
  z-index: 9;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: "Abel";
  font-size: 1.1rem;
  z-index: 9;
}

.nav .nav-items .nav-link:hover {
  background-color: darkorange;
  z-index: 9;
}

.active {
  background-color: darkorange;
  z-index: 9;
  color: #fff;
}

.nav .nav-items .nav-link:hover a {
  color: white;
  z-index: 9;
}

.nav .nav-brand a {
  /*-------Endeavour-Icon--------*/
  margin-top: -75px;
  display: block;
  z-index: 9;
}

.nav .social {
  /*-------Social-Icons--------*/
  padding: 1.4rem 0;
  margin-top: -6px;
  z-index: 9;
}

.nav .social i {
  padding: 0 0.5rem;
  font-size: 2rem;
  z-index: 9;
}

.nav .social i:hover {
  color: white;
  z-index: 9;
}
/*--------------x----------Navbar------------x-------------*/

/* card related stuff */
.f-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 10px 20px; */
}

.image-area {
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* position: absolute; */
  margin: 30px 20px;
}

.img-wrapper {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.img-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 180%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: skew(45deg);
  transition: 0.5s;
}

.img-wrapper:hover:before {
  left: -180%;
}

.img-wrapper img {
  height: 400px;
  width: 300px;
  filter: grayscale(100%);
  transition: 2s;
}
.img-wrapper:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.img-wrapper h2 {
  background: tomato;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: right;
  transition: 1s;
}

.img-wrapper:hover h2 {
  transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li {
  background: #333;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform: perspective(800px) rotateY(90deg);
  transition: 0.5s;
  transform-origin: left;
}

.img-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.img-wrapper:hover ul li:nth-child(2) {
  transition-delay: 0.6s;
}

.img-wrapper:hover ul li:nth-child(3) {
  transition-delay: 0.8s;
}

.img-wrapper:hover ul li:nth-child(4) {
  transition-delay: 1s;
}

.img-wrapper ul li a {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li i {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li i:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0);
}

.heading,
.lead {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.founders {
  margin-top: 30px;
}

.founders {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.members-area {
  margin-top: 30px;
}

.members-area .lead {
  padding: 5px 10px;
  margin-bottom: 20px;
}

.heading {
  font-size: 64px;
}

.m-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  text-align: center;
}

.m-card .image-circle {
  height: 7rem;
  width: 7rem;
  border-radius: 100px;
  background-image: url('./assets/img_before.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.m-card .image-circle:hover {
  background-image: url('./assets/img_after.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.members {
  margin-top: 60px;
}

.founders {
  margin-top: 60px;
}

.m-name {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.designation {
  padding: 0;
  margin: 0;
  color: #53575c;
  font-size: 14px;
}

.m-card .social-links {
  margin: 5px;
}



.ln-social {
  margin: 0 3px;
  text-decoration: none;
}

.ln-social:hover {
  color: tomato;
}

footer {
  background: rgb(24, 24, 24);
  margin-top: 70px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

footer span {
  color: tomato;
  margin-right: 3px;
  margin-left: 3px;
}

.members-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members-grid {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1125px) {
  .members-grid {
    
      display: grid;
      width: 85%;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
    
  }
}

@media only screen and (max-width: 805px) {
  .members-grid {
    
      display: grid;
      width: 85%;
      grid-template-columns: 1fr 1fr 1fr ;
    
  }
}

@media only screen and (max-width: 580px) {
  .members-grid {
    
      display: grid;
      width: 85%;
      grid-template-columns: 1fr 1fr ;
    
  }
}

@media only screen and (max-width: 380px) {
  .members-grid {
    
      margin-right: 30px;
      display: grid;
      width: 85%;
      grid-template-columns: 1fr 1fr ;
    
  }
}

@media only screen and (max-width: 350px) {
  .members-grid {
    
      margin-right: 50px;
      display: grid;
      width: 85%;
      grid-template-columns: 1fr 1fr ;
    
  }
}